{% extends 'base.html' %}

{% block content %}
<h1>{{ artwork.title }}</h1>
<div class="row">
    <div class="col-md-6">
        {% if artwork.image %}
            <img src="{{ artwork.image.url }}" class="img-fluid" alt="{{ artwork.title }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <p><strong>Category:</strong> {{ artwork.category.name }}</p>
        <p><strong>Description:</strong> {{ artwork.description }}</p>
        <p><strong>Price:</strong> ${{ artwork.price }}</p>
    </div>
</div>
{% endblock %}
